li {
    list-style: none
}
a{
    color: #694D41;
}
body {
    color: #000000;
}
/* Nav*/
.nav-item{
    color: #E5E5E5;
}
.navbar-text{
    color:#565555;
}
nav{
    background-color: #E2B86E;
    background-opacity: 20%;
}

.techstacks{
    text-align: center;
}
.bgimage {
    height:100vh;
    background: #E2B86E;
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    color:#565555;

}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#565555;
}

/* about section css */
#about{
    color:#565555;
}
.imageAboutPage {
    width: 100%;
}

/* projects section css*/
#projects{
    color:#565555;
}
.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #95D1EA !important;
    color: #950D20;
}
/* resume */
#resume {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #A8D4AF !important;
    color: #476941;
    font-weight: bolder;
}

/* experiences */
#experiences{
    color:#565555;
}

.card-block {
    background-color: #E5AA7B;
    color: #694D41;
    padding-left: 2em;
}
.card-header{
    background-color: #E5AA7B;
    color: #694D41;
}
/* footer styling */
#contact {
    background-color:  #E2B86E;
    color:#565555;
    text-align: left;
    padding-left: 4rem;
    padding-bottom: 2%;
}
.links{
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
}